DIV#palette {
  padding: 5px;
  width: 120px;
  border: 1px solid black;
  float:left;
}

DIV#controlBox {
  padding: 5px;
  width: 120px;
  border: 1px solid black;
  float:left;
}

DIV#layerMap {
  padding: 5px;
  width: 275px;
  border: 1px solid black;
  float: left;
}

DIV#stage {
  padding: 5px;
  width: 600px;
  border: 1px solid black;
  float: left;
}

DIV#stage > DIV.layer {
  float: left;
}

DIV#stage > DIV#layerMap {
  float: right;
}

/* square titles */
.square {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-image: url("./redstone.png");
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.square:before {
  content: "";
}

.square:hover:before {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

/* default type faces */
.square[data-type="circuit"]       { background-position: 0px 0px; }
.square[data-type="torch"]         { background-position: -720px 0px; }
.square[data-type="pressurePlate"] { background-position: 0px -120px; }
.square[data-type="memoryCell"]    { background-position: -600px -120px; }
.square[data-type="lever"]         { background-position: -120px -120px; }
.square[data-type="button"]        { background-position: -360px -120px; }
.square[data-type="repeater"]      { background-position: 0px -420px; }
.square[data-type="block"]         { background-position: 0px -360px; }
.square[data-type="noteblock"]     { background-position: -60px -360px; }
.square[data-type="empty"]         { background-position: -60px -420px; }
.square[data-type="stickyPiston"]  { background-position: -120px -360px; }
.square[data-type="piston"]        { background-position: -540px -360px; }

.square[data-type="empty"]:hover:before { content: "Empty"; }
.square[data-type="block"]:hover:before { content: "Block"; }
.square[data-type="circuit"]:hover:before { content: "Circuit"; }
.square[data-type="torch"]:hover:before { content: "Torch"; }
.square[data-type="pressurePlate"]:hover:before { content: "Pressure Plate"; }
.square[data-type="lever"]:hover:before { content: "Lever"; }
.square[data-type="button"]:hover:before { content: "button"; }
.square[data-type="memoryCell"]:hover:before { content: "Memory Cell"; }
.square[data-type="repeater"]:hover:before { content: "Repeater"; }
.square[data-type="noteblock"]:hover:before { content: "Note Block"; }
.square[data-type="stickyPiston"]:hover:before { content: "Stick Piston"; }
.square[data-type="piston"]:hover:before { content: "Piston"; }

/* row 1 off, row 2 on */
.square[data-type="circuit"][data-face="cross"]      { background-position: 0px 0px; }
.square[data-type="circuit"][data-face="vertical"]   { background-position: -60px 0px; }
.square[data-type="circuit"][data-face="horizontal"] { background-position: -120px 0px; }
.square[data-type="circuit"][data-face="tnorth"]     { background-position: -180px 0px; }
.square[data-type="circuit"][data-face="teast"]      { background-position: -240px 0px; }
.square[data-type="circuit"][data-face="tsouth"]     { background-position: -300px 0px; }
.square[data-type="circuit"][data-face="twest"]      { background-position: -360px 0px; }
.square[data-type="circuit"][data-face="cornerNE"]   { background-position: -420px 0px; }
.square[data-type="circuit"][data-face="cornerSE"]   { background-position: -480px 0px; }
.square[data-type="circuit"][data-face="cornerSW"]   { background-position: -540px 0px; }
.square[data-type="circuit"][data-face="cornerNW"]   { background-position: -600px 0px; }
.square[data-type="torch"][data-face="center"]       { background-position: -660px 0px; }
.square[data-type="torch"][data-face="north"]        { background-position: -720px 0px; }
.square[data-type="torch"][data-face="east"]         { background-position: -780px 0px; }
.square[data-type="torch"][data-face="south"]        { background-position: -840px 0px; }
.square[data-type="torch"][data-face="west"]         { background-position: -900px 0px; }
 
.square[data-type="circuit"][data-face="cross"].powered      { background-position: 0px -60px; }
.square[data-type="circuit"][data-face="vertical"].powered   { background-position: -60px -60px; }
.square[data-type="circuit"][data-face="horizontal"].powered { background-position: -120px -60px; }
.square[data-type="circuit"][data-face="tnorth"].powered     { background-position: -180px -60px; }
.square[data-type="circuit"][data-face="teast"].powered      { background-position: -240px -60px; }
.square[data-type="circuit"][data-face="tsouth"].powered     { background-position: -300px -60px; }
.square[data-type="circuit"][data-face="twest"].powered      { background-position: -360px -60px; }
.square[data-type="circuit"][data-face="cornerNE"].powered   { background-position: -420px -60px; }
.square[data-type="circuit"][data-face="cornerSE"].powered   { background-position: -480px -60px; }
.square[data-type="circuit"][data-face="cornerSW"].powered   { background-position: -540px -60px; }
.square[data-type="circuit"][data-face="cornerNW"].powered   { background-position: -600px -60px; }
.square[data-type="torch"][data-face="center"].powered       { background-position: -660px -60px; }
.square[data-type="torch"][data-face="north"].powered        { background-position: -720px -60px; }
.square[data-type="torch"][data-face="east"].powered         { background-position: -780px -60px; }
.square[data-type="torch"][data-face="south"].powered        { background-position: -840px -60px; }
.square[data-type="torch"][data-face="west"].powered         { background-position: -900px -60px; }

/* row 3 off, row 4 on */
.square[data-type="lever"][data-face="center"]  { background-position: -60px -120px; }
.square[data-type="lever"][data-face="south"]   { background-position: -120px -120px; }
.square[data-type="lever"][data-face="west"]    { background-position: -180px -120px; }
.square[data-type="lever"][data-face="north"]   { background-position: -240px -120px; }
.square[data-type="lever"][data-face="east"]    { background-position: -300px -120px; }
.square[data-type="button"][data-face="south"]  { background-position: -360px -120px; }
.square[data-type="button"][data-face="west"]   { background-position: -420px -120px; }
.square[data-type="button"][data-face="north"]  { background-position: -480px -120px; }
.square[data-type="button"][data-face="east"]   { background-position: -540px -120px; }

.square[data-type="pressurePlate"].powered { background-position: 0px -180px; }
.square[data-type="lever"][data-face="center"].powered  { background-position: -60px -180px; }
.square[data-type="lever"][data-face="south"].powered   { background-position: -120px -180px; }
.square[data-type="lever"][data-face="west"].powered    { background-position: -180px -180px; }
.square[data-type="lever"][data-face="north"].powered   { background-position: -240px -180px; }
.square[data-type="lever"][data-face="east"].powered    { background-position: -300px -180px; }
.square[data-type="button"][data-face="south"].powered  { background-position: -360px -180px; }
.square[data-type="button"][data-face="west"].powered   { background-position: -420px -180px; }
.square[data-type="button"][data-face="north"].powered  { background-position: -480px -180px; }
.square[data-type="button"][data-face="east"].powered   { background-position: -540px -180px; }
.square[data-type="memoryCell"].powered    { background-position: -600px -180px; }

/* row 5 off, row 6 on */
.square[data-type="repeater"][data-face="north"][data-delay="1"] { background-position: -0px -240px; }
.square[data-type="repeater"][data-face="east"][data-delay="1"]  { background-position: -60px -240px; }
.square[data-type="repeater"][data-face="south"][data-delay="1"] { background-position: -120px -240px; }
.square[data-type="repeater"][data-face="west"][data-delay="1"]  { background-position: -180px -240px; }
.square[data-type="repeater"][data-face="north"][data-delay="2"] { background-position: -240px -240px; }
.square[data-type="repeater"][data-face="east"][data-delay="2"]  { background-position: -300px -240px; }
.square[data-type="repeater"][data-face="south"][data-delay="2"] { background-position: -360px -240px; }
.square[data-type="repeater"][data-face="west"][data-delay="2"]  { background-position: -420px -240px; }
.square[data-type="repeater"][data-face="north"][data-delay="3"] { background-position: -480px -240px; }
.square[data-type="repeater"][data-face="east"][data-delay="3"]  { background-position: -540px -240px; }
.square[data-type="repeater"][data-face="south"][data-delay="3"] { background-position: -600px -240px; }
.square[data-type="repeater"][data-face="west"][data-delay="3"]  { background-position: -660px -240px; }
.square[data-type="repeater"][data-face="north"][data-delay="4"] { background-position: -720px -240px; }
.square[data-type="repeater"][data-face="east"][data-delay="4"]  { background-position: -780px -240px; }
.square[data-type="repeater"][data-face="south"][data-delay="4"] { background-position: -840px -240px; }
.square[data-type="repeater"][data-face="west"][data-delay="4"]  { background-position: -900px -240px; }

.square[data-type="repeater"][data-face="north"][data-delay="1"].powered { background-position: -0px -300px; }
.square[data-type="repeater"][data-face="east"][data-delay="1"].powered  { background-position: -60px -300px; }
.square[data-type="repeater"][data-face="south"][data-delay="1"].powered { background-position: -120px -300px; }
.square[data-type="repeater"][data-face="west"][data-delay="1"].powered  { background-position: -180px -300px; }
.square[data-type="repeater"][data-face="north"][data-delay="2"].powered { background-position: -240px -300px; }
.square[data-type="repeater"][data-face="east"][data-delay="2"].powered  { background-position: -300px -300px; }
.square[data-type="repeater"][data-face="south"][data-delay="2"].powered { background-position: -360px -300px; }
.square[data-type="repeater"][data-face="west"][data-delay="2"].powered  { background-position: -420px -300px; }
.square[data-type="repeater"][data-face="north"][data-delay="3"].powered { background-position: -480px -300px; }
.square[data-type="repeater"][data-face="east"][data-delay="3"].powered  { background-position: -540px -300px; }
.square[data-type="repeater"][data-face="south"][data-delay="3"].powered { background-position: -600px -300px; }
.square[data-type="repeater"][data-face="west"][data-delay="3"].powered  { background-position: -660px -300px; }
.square[data-type="repeater"][data-face="north"][data-delay="4"].powered { background-position: -720px -300px; }
.square[data-type="repeater"][data-face="east"][data-delay="4"].powered  { background-position: -780px -300px; }
.square[data-type="repeater"][data-face="south"][data-delay="4"].powered { background-position: -840px -300px; }
.square[data-type="repeater"][data-face="west"][data-delay="4"].powered  { background-position: -900px -300px; }

/* row 7 & 8 special */
.square[data-type="stickyPiston"][data-face="up"] { background-position: -120px -360px; }
.square[data-type="stickyPiston"][data-face="upExtended"] { background-position: -120px -420px; }
.square[data-type="stickyPiston"][data-face="north"] { background-position: -180px -360px; }
.square[data-type="stickyPiston"][data-face="northBase"] { background-position: -420px -420px; }
.square[data-type="stickyPiston"][data-face="northExtended"] { background-position: -420px -360px; }
.square[data-type="stickyPiston"][data-face="east"] { background-position: -240px -360px; }
.square[data-type="stickyPiston"][data-face="eastBase"] { background-position: -180px -420px; }
.square[data-type="stickyPiston"][data-face="eastExtended"] { background-position: -240px -420px; }
.square[data-type="stickyPiston"][data-face="south"] { background-position: -300px -360px; }
.square[data-type="stickyPiston"][data-face="southBase"] { background-position: -420px -360px; }
.square[data-type="stickyPiston"][data-face="southExtended"] { background-position: -420px -420px; }
.square[data-type="stickyPiston"][data-face="west"] { background-position: -360px -360px; }
.square[data-type="stickyPiston"][data-face="westBase"] { background-position: -360px -420px; }
.square[data-type="stickyPiston"][data-face="westExtended"] { background-position: -300px -420px; }
.square[data-type="piston"][data-face="up"] { background-position: -540px -360px; }
.square[data-type="piston"][data-face="upExtended"] { background-position: -540px -420px; }
.square[data-type="piston"][data-face="north"] { background-position: -600px -360px; }
.square[data-type="piston"][data-face="northBase"] { background-position: -840px -420px; }
.square[data-type="piston"][data-face="northExtended"] { background-position: -840px -360px; }
.square[data-type="piston"][data-face="east"] { background-position: -660px -360px; }
.square[data-type="piston"][data-face="eastBase"] { background-position: -600px -420px; }
.square[data-type="piston"][data-face="eastExtended"] { background-position: -660px -420px; }
.square[data-type="piston"][data-face="south"] { background-position: -720px -360px; }
.square[data-type="piston"][data-face="southBase"] { background-position: -900px -360px; }
.square[data-type="piston"][data-face="southExtended"] { background-position: -900px -420px; }
.square[data-type="piston"][data-face="west"] { background-position: -780px -360px; }
.square[data-type="piston"][data-face="westBase"] { background-position: -780px -420px; }
.square[data-type="piston"][data-face="westExtended"] { background-position: -720px -420px; }

/* row 9 & 10 empty */
/* empty */

/*
#stage TD {
  border: 1px solid black;
  border-collapse: collapse;
  height: 60px;
  width: 60px;
}
*/
#stage TD.ui-hover-target {
  background-color: #2030BB;
}

#stage TD.ui-hover-target > DIV {
  display: none;
}